html {}

/* rating */
.star-rating {
    white-space: nowrap;
}

.star-rating [type="radio"] {
    appearance: none;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.star-rating i {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
    transform: scale(1.35);
    color: #fffdba;
    animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}

.star-rating label:has(~ :checked) i {
    color: #faec1b;
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {

    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }

    100% {
        transform: translatey(-15%) scale(1.35);
    }
}

/* swiper slide start */
swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swiper slide end */

/* banner start */
.myBanner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 100%;
}

.swiper.mySwiper {
    height: 95%;
    border-radius: 6px;
    overflow: hidden;
}

.imgBanners img {
    border-radius: 6px;
}

.bannerLeft {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.bannerLeft img {
    border-radius: 6px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

/* banner end */

/* category */
.categorySlide {
    margin: 20px 0px;
    background-color: #fff;
    border-radius: 6px;
}

.categorySlide .swiper-wrapper {
    padding: 10px 0 20px;
    background-color: transparent;
    height: auto;
}

.categorySlide .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #CE2626;
    cursor: pointer;
    overflow: auto;
}

.categorySlide .swiper-slide {
    background-color: transparent;
}

.categorySlide .swiper-slide a {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    text-decoration: none;
}

.categorySlide .swiper-slide:hover a {
    color: #CE2626;
}

.categorySlide .titleCategory {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}

a {
    text-decoration: none;
}

/* cart */
.name_product a {
    color: #000 !important;
}

.__custom_cart_empty {
    padding: 2rem 0px;
    text-align: center;
}

.__custom_cart_empty h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.cart__remove {}

.cart__image {
    min-width: 120px;
    border-radius: 6px;
}

.qtyField .qty {
    width: 40px;
}

@media only screen and (max-width: 767px) {
    .cart__qty {
        width: 100;
    }

    .title_coupon {
        margin-top: 20px;
    }
}

.imgBnrOuter {
    margin-top: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

#product-list .item {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    transition: box-shadow 0.3s linear;
    border-radius: 6px
}

#product-list .item:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px;
}

.page-item .page-link {
    color: #CE2626;
}

.active>.page-link,
.page-link.active {
    background-color: #CE2626;
    border: #CE2626;
    color: #fff;
}

.article_featured-image img {
    height: 200px;
    width: 100%;
    border-radius: 6px;
}

.article_featured-image .__custom_image {
    height: 100% !important;
}

.grid-view-item__title {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-view-item__image {
    border-radius: 6px;
}


.grid-products .item .product-image img {
    min-height: 230px;
    object-fit: cover;
}